<!doctype html>
<html>
<body>
<form method="post" id="fileupload" action="/collect_works_info/" enctype="multipart/form-data" accept-charset="utf-8" class="fill-up">
    {% csrf_token %}
    <div class="row">
        <div class="col-lg-4">

            <ul class="padded separate-sections">
               <li>
                    <input type="file" name="myfile" id="myfile" />

               </li>
            </ul>

            <div class="form-actions">
                <button type="submit" class="btn btn-blue">Submit</button>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Contributors</th>
                        <th scope="col">ISWC</th>
                    </tr>
                </thead>
                <tbody>
                {% for item in queryset %}
                    <tr>
                      <td>{{ item.title }}</td>
                      <td>
                          {% for contributor in item.contributors.all %}
                              {{ contributor.full_name }}
                          {% endfor %}
                      </td>
                      <td>@{{ item.iswc }}</td>
                    </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>
    </div>
</form>
</body>
</html>